/* The grid: Four equal columns that floats next to each other */
.column {
    width: 70px;
    height: 55px;
    margin: 10px;
}

/* Style the images inside the grid */
.column img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    cursor: pointer;
    transition: 300ms;
    border: 1px solid rgb(243, 243, 243);
    border-radius: var(--border-radius);
}

.column img:hover {
    box-shadow: 7px 7px 10px rgb(211 211 211);
    opacity: 1;
    transition: 300ms;
    scale: 1.3;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container-image {
    position: relative;
    /* display: none; */
}

.container-image img {
    border: 1px solid rgb(243, 243, 243);
    border-radius: var(--giant-border-radius);
    width: 580px;
    height: 350px;
    margin-left: 10px;
    margin-top: 10px;
    /* box-shadow: 0 0 10px 5px rgb(211 211 211); */
}
/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
