:root {
    --main-color: #795548;
    --main-color-hover: rgba(121, 85, 72, 0.75);
    --primary-color: #ffffff;
    --primary-color-opacity: rgba(255, 255, 255, 0.85);
    --text-primary-color: #282828;

    --border-color: rgba(121, 85, 72, 0.2);
    --border-radius: 12px 0;
    --giant-border-radius: 60px 0;

    --font-family: Raleway, system-ui, -apple-system, Arial, sans-serif;
    --giant-font-size: 64px;
    --medium-font-size: 24px;
    --small-font-size: 18px;
    --light-visibility-opacity: 0.2;
}
*,
:after,
:before {
    box-sizing: border-box;
}
a {
    color: black;
    font-style: normal;
    text-decoration: none;
}
hr {
    opacity: var(--light-visibility-opacity);
}

.section {
    width: 100%;
    font-family: var(--font-family);
    color: var(--text-primary-color);
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 12vw;
}
.wrapper-header {
    font-size: var(--giant-font-size);
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.bordersAndPandings {
    border: 0;
    border-radius: var(--border-radius);
    padding: 10px 30px;
    transition: 0.3s;
}
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: calc(100% - 24vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;

    div {
        width: 50%;
    }
    img {
        max-height: 70px;
        width: fit-content;
    }

    .whatsApp-call {
        font-family: var(--font-family);
        margin-left: 15px;
        background-color: var(--main-color);
        color: var(--primary-color);
        position: relative;
        &:hover {
            background-color: var(--main-color-hover);
        }
        i {
            animation: shine2 2s infinite;
            padding-left: 5px;
            font-size: var(--medium-font-size);
        }
    }
}

/* FIRST PAGE */
/* FIRST PAGE */
/* FIRST PAGE */
/* FIRST PAGE */
.firstPage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .leftBlockMain {
        padding: 100px 30px 100px 12vw;
        width: 50%;
        height: 100%;
        border: 1px solid var(--border-color);
        h1 {
            font-size: var(--giant-font-size);
            line-height: 76px;
            font-weight: 500;
            margin-bottom: 100px;
        }
        span {
            box-sizing: border-box;
            display: flex;
            max-width: 330px;
            padding: 30px;
            padding-left: 0;
            margin-bottom: 30px;
            font-size: var(--small-font-size);
        }
        .goToContactsButton {
            cursor: pointer;
            transition: 300ms;
            border-radius: var(--border-radius);
            width: fit-content;
            padding: 15px 30px;
            text-align: center;
            margin-top: 100px;
            border: 1px solid var(--border-color);
            &:hover {
                transition: 300ms;
                border-radius: var(--border-radius);
                background-color: var(--main-color-hover);
                color: var(--primary-color);
            }
        }
    }
    .rightBlockMain {
        display: flex;
        width: 50%;
        border-radius: 60px 0 0 0;
        padding-right: 12vw;
        background: url("./../assets/img/intro.jpg") no-repeat 50% / cover;
        .rightBlockButtons {
            font-size: var(--medium-font-size);
            height: fit-content;
            align-self: flex-end;
            display: flex;
            padding: 15px;
            flex-direction: column;
            gap: 15px;
            background-color: var(--primary-color-opacity);
            border-radius: var(--border-radius);
            border: 1px solid var(--border-color);
            border-right-width: 0;
            border-top-width: 0;
            text-align: center;
            align-items: center;
            span {
                margin-top: 20px;
            }
            .roundedButtons {
                cursor: pointer;
                text-decoration: to-upper-case;
                display: flex;
                flex-direction: column;
                padding: 20px 60px;
                margin: 20px 0;
                color: var(--primary-color);
                background-color: var(--main-color);
                font-weight: 500;
                font-size: 24px;
                line-height: 1.16;
                width: fit-content;
                &:hover {
                    background-color: var(--main-color-hover);
                }
            }
        }
    }
}

/* QUIZ SECTION */
/* QUIZ SECTION */
/* QUIZ SECTION */
/* QUIZ SECTION */
/* QUIZ SECTION */

.section.quiz {
    padding-top: 100px;
    margin-bottom: 100px;

    .quiz-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid var(--border-color);
        border-radius: var(--giant-border-radius);
        // box-shadow: 0px 0px 20px 20px #19191926;

        .calculating-block {
            display: flex;
            flex-direction: row;
            .quiz-container {
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                .wrapper-header {
                    margin-bottom: 50px;
                    text-align: start;
                }
                .quiz {
                    display: block;
                    margin-bottom: 20px;
                    border-radius: var(--border-radius);
                    border: 1px solid var(--border-color);
                    padding: 10px;
                    .question {
                        font-size: var(--medium-font-size);
                        font-weight: 400;
                        display: block;
                        margin-bottom: 10px;
                    }
                    .options {
                        .quiz-input {
                            border: 0;
                        }
                        .select {
                            border: 0;
                            width: 100%;
                        }
                    }
                }
                .calculate-button {
                    cursor: pointer;
                    font-family: var(--font-family);
                    background-color: var(--main-color);
                    color: var(--primary-color);
                    position: relative;
                    border-radius: var(--border-radius);
                    padding: 20px;
                    font-size: var(--medium-font-size);
                    border: 0;
                    width: fit-content;
                    align-self: flex-end;
                    &:hover {
                        background-color: var(--main-color-hover);
                    }
                }
            }
            .manager {
                background: url("./../assets/img/calculate\ bg.jpg") no-repeat
                    50% / cover;
                background-position-x: left;
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                justify-content: space-between;
                background-color: #f7f7f7;
                border-radius: var(--giant-border-radius);
            }
        }
    }
}

/* HOW WE WORK  */
/* HOW WE WORK  */
/* HOW WE WORK  */
/* HOW WE WORK  */
.howWeWork {
    .wrapper-header {
        margin-bottom: 100px;
    }
    .step,
    .step__box {
        position: relative;
    }
    .step {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1;
    }
    .step__box {
        width: 120px;
        height: 120px;
        border: 1px solid #ecedef;
        border-radius: 20px 0;
        margin-bottom: 20px;
        background-color: #fff;
    }
    .step__number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -9px;
        left: -9px;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        border-radius: 50%;
        font-weight: 500;
        background-color: #fff;
        border: 1px solid var(--main-color);
        box-sizing: border-box;
        box-shadow: 0 8px 20px hsl(0deg 0% 55% / 10%);
    }
    .step__icon {
        font-size: 80px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .icon {
        display: inline-block;
        fill: currentColor;
        fill-rule: evenodd;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    :not(svg) {
        transform-origin: 0px 0px;
    }
    .steps__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: calc(-1 * 40px / 2);
        margin-left: calc(-1 * 40px / 2);
    }
    .steps__col {
        width: 25%;
        padding: 0 20px;
        position: relative;
    }
    .steps__col:before {
        content: "";
        position: absolute;
        right: 0;
        top: 80px;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        width: 159px;
        height: 29px;
        background: url("./../assets/img/step-sep.svg") no-repeat 50% / cover;
    }
    .steps__col:nth-child(2n):before {
        top: 11px;
        -webkit-transform: translateX(50%) scaleY(-1);
        transform: translateX(50%) scaleY(-1);
    }
    .steps__col:last-child:before {
        content: none;
    }

    .step_last .step__number {
        background-color: var(--main-color);
        color: #fff;
    }

    .step__desc {
        font-weight: 300;
        text-align: center;
    }

    .step__desc a {
        color: var(--main-color);
        text-decoration: underline;
    }

    @media (max-width: 767px) {
        .steps__col:before {
            content: none;
        }
    }
    @media (max-width: 767px) {
        .steps__col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    @media (max-width: 767px) {
        .steps__row {
            margin-bottom: -30px;
        }
    }
    @media (max-width: 767px) {
        .steps {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    @media (max-width: 991px) {
        .steps {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    @media (min-width: 992px) {
        .step__desc a:hover {
            text-decoration: none;
        }
    }
    @media (max-width: 767px) {
        .step__box {
            margin-bottom: 10px;
        }
    }

    .info {
        margin-top: 150px;
        padding-bottom: 16%;
    }

    @media (max-width: 1149px) {
        .info {
            padding-bottom: 10%;
        }
    }

    @media (max-width: 991px) {
        .info {
            padding-bottom: 80px;
        }
    }

    @media (max-width: 767px) {
        .info {
            padding-bottom: 60px;
        }
    }

    .info__holder {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url(assets/img/info-bg.jpg?7977c9f2);
        padding-left: 80px;
        padding-right: 100px;
        padding-bottom: 60px;
        border-radius: 30px 0;
    }

    @media (max-width: 1149px) {
        .info__holder {
            padding-left: 30px;
        }
    }

    @media (max-width: 767px) {
        .info__holder {
            padding-left: 0;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: center;
            align-items: center;
            padding-right: 0;
            border-radius: 10px;
            padding-bottom: 0;
        }
    }

    .info__title {
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {
        .info__title {
            margin-bottom: 20px;
        }
    }

    .info__image-wrap {
        -ms-flex: none;
        flex: none;
        width: 371px;
        margin-top: -79px;
        margin-bottom: -21.3%;
    }

    @media (max-width: 991px) {
        .info__image-wrap {
            max-width: 250px;
            margin-top: -30px;
            margin-bottom: 0;
        }
    }

    @media (max-width: 767px) {
        .info__image-wrap {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            left: 7px;
        }
    }

    .info__block {
        -ms-flex: auto;
        flex: auto;
        padding-top: 101px;
        padding-left: 49px;
    }

    @media (max-width: 991px) {
        .info__block {
            padding-left: 20px;
            padding-top: 80px;
        }
    }

    @media (max-width: 767px) {
        .info__block {
            padding: 20px var(--layout-padding) 40px;
        }
    }

    .info__desc {
        font-weight: 300;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

/* PORTFOLIO SECTION  */
/* PORTFOLIO SECTION  */
/* PORTFOLIO SECTION  */
/* PORTFOLIO SECTION  */

.section.slider {
    .swiper-slide {
        gap: 10px;
        .portfolio_photos {
            display: flex;
            flex-direction: column;
            // width: 50%;
            position: relative;
            .row {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-wrap: nowrap;
                z-index: 1;
            }
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        .portfolio-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            align-items: center;
        }
        .portfolio-description h4 {
            font-size: 24px;
        }
        .portfolio-address {
            font-size: 16px;
        }
        .potfolio-todo {
            font-size: 20px;
            margin: 35px 0;
        }
    }
}

// CONTACTS SECTION
// CONTACTS SECTION
// CONTACTS SECTION
// CONTACTS SECTION
// CONTACTS SECTION

.contacts {
    .contacts-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        font-family: "Courier New", Courier, monospace;
        i {
            color: var(--main-color);
            padding: 10px;
        }
    }
    .footer_container {
        opacity: calc(1 - var(--light-visibility-opacity));
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border: 1px solid var(--border-color);
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding-top: 40px;
        img {
            max-height: 70px;
            width: fit-content;
        }
    }
}

// ANIMATION SECTION
// ANIMATION SECTION
// ANIMATION SECTION
// ANIMATION SECTION

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes shine2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Tablets */
/* Tablets */
/* Tablets */
/* Tablets */

@media screen and (min-width: 880px) and (max-width: 1250px) {
    .rem1 {
        font-size: 14px;
    }
    .header-contact {
        font-size: 15px;
    }
    .header-contact {
        font-size: 17px;
    }

    .wrapper-header {
        font-size: calc(var(--giant-font-size) * 0.7);
    }
    /* HEADER */
    /* HEADER */
    /* HEADER */
    /* HEADER */
    .header {
        width: calc(100% - 21vw);
        div {
            width: 50%;
        }
        img {
            max-height: 70px;
            width: fit-content;
        }
        .header-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: var(--medium-font-size);
            .whatsApp-call {
                font-family: var(--font-family);
                margin-left: 15px;
                background-color: var(--main-color);
                color: var(--primary-color);
                position: relative;
                &:hover {
                    background-color: var(--main-color-hover);
                }
                i {
                    animation: shine2 2s infinite;
                    padding-left: 5px;
                    font-size: var(--medium-font-size);
                }
            }
        }
    }

    /* FIRST PAGE */
    /* FIRST PAGE */
    /* FIRST PAGE */
    /* FIRST PAGE */

    .firstPage {
        .leftBlockMain {
            padding: 100px 30px 20px 12vw;
            h1 {
                font-size: var(--giant-font-size);
                line-height: 56px;
                font-weight: 300;
                margin-bottom: 50px;
            }
            .goToContactsButton {
                margin-top: 70px;
            }
        }
        .rightBlockMain {
            display: flex;
            width: 50%;
            border-radius: 60px 0 0 0;
            padding-right: 12vw;
            background: url("./../assets/img/intro.jpg") no-repeat 50% / cover;
            .rightBlockButtons {
                font-size: calc(var(--medium-font-size) * 0.7);
                padding: 10px;
                gap: 10px;
                span {
                    margin-top: 10px;
                }
                .roundedButtons {
                    font-size: calc(var(--medium-font-size) * 0.7);
                    &:hover {
                        background-color: var(--main-color-hover);
                    }
                }
            }
        }
    }

    /* QUIZ SECTION */
    /* QUIZ SECTION */
    /* QUIZ SECTION */
    /* QUIZ SECTION */
    /* QUIZ SECTION */

    #quiz {
        .calculating-block {
            .quiz-container {
                .wrapper-header {
                    padding-top: 0;
                }
                .question {
                    font-size: calc(var(--medium-font-size) * 0.7);
                }
                .calculate-button {
                    font-size: calc(var(--medium-font-size) * 0.7);
                    font-weight: 600;
                }
            }
            .manager {
                flex-basis: 60%;
            }
        }
    }

    /* PORTFOLIO SECTION  */
    /* PORTFOLIO SECTION  */
    /* PORTFOLIO SECTION  */
    /* PORTFOLIO SECTION  */

    .section.slider {
        .portfolio_photos {
            .container-image {
                img {
                    width: 480px;
                    height: 300px;
                }
            }
        }
    }

    /* HOW WE WORK  */
    /* HOW WE WORK  */
    /* HOW WE WORK  */
    /* HOW WE WORK  */
    .howWeWork {
        .info {
            padding-bottom: 0;
        }
    }
}

/* Mobile phones */
/* Mobile phones */
/* Mobile phones */
/* Mobile phones */
@media screen and (max-width: 879px) {
    .wrapper-header {
        font-size: calc(var(--giant-font-size) * 0.7);
    }
    /* HEADER */
    /* HEADER */
    /* HEADER */
    /* HEADER */

    .header {
        flex-direction: row;
        justify-content: center;
        div {
            width: auto;
            img {
                max-height: 45px;
            }
        }
        .header-contact {
            display: flex;
            flex-direction: column;
            width: fit-content;
            align-items: center;
            margin-top: 0;
            .whatsApp-call {
                margin-top: 20px;
                margin-left: 0;
                // width: fit-content;
            }
        }
        border-bottom: 1px solid var(--border-colord);
    }

    /* FIRST PAGE */
    /* FIRST PAGE */
    /* FIRST PAGE */
    /* FIRST PAGE */

    .firstPage {
        flex-direction: column;
        .leftBlockMain {
            border: 0;
            width: auto;
            padding-top: 150px;
            padding-bottom: 50px;
            line-height: 1em;
            h1 {
                font-size: calc(var(--giant-font-size) * 0.7);
                margin-bottom: 20px;
                br:not(:last-child) {
                    display: none;
                }
            }
            .goToContactsButton {
                margin-top: 30px;
            }
        }
        .rightBlockMain {
            background: rgb(226, 208, 69);
            background: linear-gradient(48deg, #fdda64, #f99269, #d85b5b);
            width: 100%;
            height: 200px;
            border: 0;
            border-radius: var(--giant-border-radius);
            .rightBlockButtons {
                gap: 0;
                color: var(--primary-color);
                background: none;
            }
        }
    }

    /* QUIZ SECTION */
    /* QUIZ SECTION */
    /* QUIZ SECTION */
    /* QUIZ SECTION */
    /* QUIZ SECTION */

    #quiz {
        .quiz-content {
            .calculating-block {
                .manager {
                    display: none;
                }
            }
        }
    }

    /* PORTFOLIO SECTION  */
    /* PORTFOLIO SECTION  */
    /* PORTFOLIO SECTION  */
    /* PORTFOLIO SECTION  */

    .section.slider {
        .swiper-slide {
            flex-direction: column;
            .portfolio-description {
                flex-direction: column;
            }
        }
    }

    /* HOW WE WORK  */
    /* HOW WE WORK  */
    /* HOW WE WORK  */
    /* HOW WE WORK  */

    .howWeWork {
        .info {
            padding-bottom: 0;
            .info__holder {
                border: 1px solid var(--border-color);
                border-radius: var(--giant-border-radius);
                padding-bottom: 0;
                .info__block {
                    padding-top: 0;
                }
            }
        }
    }

    // CONTACTS SECTION
    // CONTACTS SECTION
    // CONTACTS SECTION
    // CONTACTS SECTION
    // CONTACTS SECTION

    .contacts {
        .contacts-block {
            div {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--border-color);
                    border-radius: var(--border-radius);
                    padding: 10px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    width: 100px;
                    height: 100px;
                    font-size: 50px;
                    span {
                        font-size: 0;
                    }
                }
            }
        }
        .footer_container {
            margin-top: 40px;
            gap: 30px;
        }
    }
}
