:root {
    --main-color: #795548;
    --main-color-hover: rgba(121, 85, 72, 0.75);
    --primary-color: #ffffff;
    --primary-color-opacity: rgba(255, 255, 255, 0.85);
    --text-primary-color: #282828;

    --border-color: rgba(121, 85, 72, 0.2);
    --border-radius: 12px 0;

    --font-family: Raleway, system-ui, -apple-system, Arial, sans-serif;
    --giant-font-size: 64px;
    --medium-font-size: 24px;
    --small-font-size: 18px;
    --light-visibility-opacity: 0.2;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.section {
    width: 100%;
    font-family: var(--font-family);
    color: var(--text-primary-color);
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 12vw;

    @media screen and (min-width: 768px) and (max-width: 1000px) {
        margin: 0 8vw;
    }
}
.wrapper-header {
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.bordersAndPandings {
    border: 0;
    border-radius: var(--border-radius);
    padding: 10px 30px;
    transition: 0.3s;
}
/* FIRST PAGE */
/* FIRST PAGE */
/* FIRST PAGE */
/* FIRST PAGE */
.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: calc(100% - 24vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    @media screen and (min-width: 768px) and (max-width: 1000px) {
        width: calc(100% - 16vw);
    }

    div {
        width: 50%;
    }
    img {
        max-height: 70px;
        width: fit-content;
    }

    .whatsApp-call {
        font-family: var(--font-family);
        margin-left: 15px;
        background-color: var(--main-color);
        color: var(--primary-color);
        position: relative;
        &:hover {
            background-color: var(--main-color-hover);
        }
        i {
            animation: shine2 2s infinite;
            padding-left: 5px;
            font-size: var(--medium-font-size);
        }
    }
}

.firstPage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .leftBlockMain {
        padding: 100px 30px 100px 12vw;
        width: 50%;
        height: 100%;
        border: 1px solid var(--border-color);
        h1 {
            font-size: var(--giant-font-size);
            line-height: 76px;
            font-weight: 500;
            margin-bottom: 100px;
        }
        hr {
            opacity: var(--light-visibility-opacity);
        }
        span {
            box-sizing: border-box;
            display: flex;
            max-width: 330px;
            padding: 30px;
            padding-left: 0;
            margin-bottom: 30px;
            font-size: var(--small-font-size);
        }
        .goToContactsButton {
            cursor: pointer;
            transition: 300ms;
            border-radius: var(--border-radius);
            width: fit-content;
            padding: 15px 30px;
            text-align: center;
            margin-top: 100px;
            border: 1px solid var(--border-color);
            &:hover {
                transition: 300ms;
                border-radius: var(--border-radius);
                background-color: var(--main-color-hover);
                color: var(--primary-color);
            }
        }
    }
    .rightBlockMain {
        display: flex;
        width: 50%;
        border-radius: 60px 0 0 0;
        padding-right: 12vw;
        background: url("./../assets/img/intro.jpg") no-repeat 50% / cover;
        .rightBlockButtons {
            font-size: var(--medium-font-size);
            height: fit-content;
            align-self: flex-end;
            display: flex;
            padding: 15px;
            flex-direction: column;
            gap: 15px;
            background-color: var(--primary-color-opacity);
            border-radius: var(--border-radius);
            border: 1px solid var(--border-color);
            border-right-width: 0;
            border-top-width: 0;
            text-align: center;
            align-items: center;
            span {
                margin-top: 20px;
            }
            .roundedButtons {
                text-decoration: to-upper-case;
                display: flex;
                flex-direction: column;
                padding: 20px 60px;
                margin: 20px 0;
                color: var(--primary-color);
                background-color: var(--main-color);
                font-weight: 500;
                font-size: 24px;
                line-height: 1.16;
                width: fit-content;
                &:hover {
                    background-color: var(--main-color-hover);
                }
            }
        }
    }
}

/* QUIZ SECTION */
/* QUIZ SECTION */
/* QUIZ SECTION */
/* QUIZ SECTION */
/* QUIZ SECTION */

.section.quiz {
    padding-top: 100px;
    margin-bottom: 100px;

    .quiz-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid var(--border-color);
        border-radius: 60px 0;
        // box-shadow: 0px 0px 20px 20px #19191926;

        .calculating-block {
            display: flex;
            flex-direction: row;
            .quiz-container {
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                .wrapper-header {
                    margin-bottom: 50px;
                    text-align: start;
                    font-size: var(--giant-font-size);
                }
                .quiz {
                    display: block;
                    margin-bottom: 20px;
                    border-radius: var(--border-radius);
                    border: 1px solid var(--border-color);
                    padding: 10px;
                    .question {
                        font-size: var(--medium-font-size);
                        font-weight: 400;
                        display: block;
                        margin-bottom: 10px;
                    }
                    .options {
                        .quiz-input {
                            border: 0;
                        }
                        .select {
                            border: 0;
                            width: 100%;
                        }
                    }
                }
            }
            .manager {
                background: url("./../assets/img/calculate\ bg.jpg") no-repeat
                    50% / cover;
                background-position-x: left;
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                justify-content: space-between;
                background-color: #f7f7f7;
                border-radius: 60px 0;
            }
        }
    }
}

/* PORTFOLIO SECTION  */
/* PORTFOLIO SECTION  */
/* PORTFOLIO SECTION  */
/* PORTFOLIO SECTION  */

.portfolio_photos {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.portfolio-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio-description h4 {
    font-size: 24px;
}
.portfolio-address {
    font-size: 16px;
}
.potfolio-todo {
    font-size: 20px;
    margin: 35px 0;
}

// CONTACTS SECTION
// CONTACTS SECTION
// CONTACTS SECTION
// CONTACTS SECTION
// CONTACTS SECTION

.contacts-block {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    i {
        padding: 10px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
}

// ANIMATION SECTION
// ANIMATION SECTION
// ANIMATION SECTION
// ANIMATION SECTION

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes shine2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Tablets */

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .rem1 {
        font-size: 14px;
    }
    .header-contact {
        font-size: 15px;
    }
    .header-contact {
        font-size: 17px;
    }
}
